* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
}

/* ------------------RESET------------------------ */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  height: 50px;
  color: white;
  padding-left: 10px;
  justify-content: space-around;
  background-color: #1f2937;
  margin-top: 0;
}

.header ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.header a {
  text-decoration: none;
  color: rgb(217, 228, 233);
}

/* -----------------------HEADER END----------------------------------------------- */

/* --------------------------------HERO-------------------------------------------- */

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  height: 400px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 20px;
  padding-bottom: 3px;
}

p {
  padding: 4px;
  margin-bottom: 23px;
}

img {
  width: 300px;
}

button {
  background-color: blue;
  color: white;
  width: 79px;
  height: 35px;
  border-radius: 15%;
  border-color: #1f2937;
}

button:hover {
  background-color: white;
  color: blue;
  transition: ease-in 0, 3s;
}

/* -----------------------------END HERO-------------------------------------------------- */
